@model IEnumerable<Calificaciones.Models.Estudiante>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center text-dark mb-4">Gestión de Estudiantes</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Nuevo estudiante</a>
</p>

@if (TempData["mensaje"] != null)
{
<div class="alert alert-success alert-dismissible fade show" role="alert">
  @TempData["mensaje"]
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
}



<table class="table table-hover table-striped" id="estudiantes">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoDocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documento)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            
            
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Documento)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>     
            
            <td>
                @if (item.Estado == true) 
                {
                    <p class="btn btn-outline-success">Activo</p>
                }
                else
                {
                    <p class="btn btn-outline-danger">Inactivo</p>

                }
            </td>
            <td>
                <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id">Detalle</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#estudiantes").DataTable();
        });

        $('#estudiantes').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/1.11.1/i18n/es_es.json'
            }
        });
    </script>
}